{% extends "base.html" %}
{% block content %}
<style>
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 150px;
   background-color: burlywood;
   color: white;
   text-align: center;
}
img {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
p{
    text-align: center;
    padding:20px 15px;

}
.content {
        background-color: rgba(255, 255, 255, 0.85);
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
        width: 80%;
        text-align: center;
    }
</style>
<body>
<img src="https://www.thesprucepets.com/thmb/s-wcx5m6Sg6y8r3EFrYfikLqJIg=/1733x0/filters:no_upscale():strip_icc()/Stocksy_txpba7ef914jvq100_Medium_1493631-5a8ef3d404d1cf003616d6f3.jpg">
<div class="content">
    <h1>ABOUT US</h1>
<p>At GREATPET, we believe every animal deserves a loving home. Our mission is to connect caring individuals with pets in need, making the adoption process simple, transparent, and full of joy.We started this platform with a vision to reduce the number of stray and abandoned animals by giving them a second chance at life. Whether you’re looking for a playful puppy, a gentle cat, or another loving companion, we’re here to help you find the perfect match.</p>
<p>'Adopt, Don't shop'</p>
</div>
    <div class="footer">
        <h3><b> Contact Us</b></h3>
        <i class="fa-solid fa-location-dot" style="margin-right:10px;"></i> <span>: Birtamode, Jhapa</span>
        <li><i class="fa-solid fa-phone" style="margin-right:10px;"></i><span>: 9856432109</span></li>
        <i class="fa-solid fa-envelope" style="margin-right:10px;"></i> <span>: greatpet2@gmail.com</span>
        <a><span>&copy; 2025 Great Pet. All Rights Reserved.</span></a>
     </div>
    </div>
</body>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


{% endblock content %}

